@color-dark: #333;
@color-medium: #999;
@color-light: #DDD;
@color-primary: #29ABE2;

/* --- Component Mappings */

@color-spinner: @color-dark;
@image-spinner: "";

@color-toolbar-bg: @color-dark;

@color-logo-index: @color-primary;
@color-logo-nonstop: white;

@color-page-bg: @color-light;
