{
	"extends": "leankit/react",
	"globals": {
		"DEBUG": false,
		"define": false
	},
	"rules": {
		"complexity": [ 1, 10 ], // TRIAL specify the maximum cyclomatic complexity allowed in a program
		"react/jsx-handler-names": 0, // TODO move this upstream
		"no-extra-parens": 0, // TODO move this upstream
		"react/jsx-boolean-value": 0, // TODO move this upstream
		"react/sort-comp": [ 1, {
			"order": [
				"mixins",
				"lux",
				"props",
				"state",
				"everything-else",
				"render"
			],
			"groups": {
				"lux": [
					"getActionGroup",
					"getActions",
					"stores"
				],
				"props": [
					"propTypes",
					"getDefaultProps"
				],
				"state": [
					"getInitialState"
				]
			}
		} ], // Enforce component methods order
	}
}
