{
	"extends": "leankit/react",
	"globals": {
		"DEBUG": false,
		"define": false
	},
	"rules": {
		"complexity": [ 1, 10 ], // TRIAL specify the maximum cyclomatic complexity allowed in a program
		"no-extra-parens": 0 // Turn off for react/wrap-multilines. This should be moved to leankit/react
	}
}
