{
  "globals": {
    "_": false,
    "lux": false,
    "postal": false,
    "React": false,
    "ReactDOM": false,
    "ReactUtils": false,
    "should": false,
    "sinon": false,
    "when": false,
    "getMockReactComponent": false,
    "wrapStatelessComponent": false
  },

  "env": {
    "mocha": true
  },

  "rules": {
    "react/prop-types": 0
  }
}
