registry=https://puppet.leankit.com:4873/
@lk:registry=https://puppet.leankit.com:4873/
@lklabs:registry=https://registry.npmjs.com/
always-auth=true
//puppet.leankit.com:4873/:_authToken="GDTQmcNHBHXxzfP1Wn0hNQ9CuqA+I7K16hEcy2QQvXU="
//registry.npmjs.com/:_authToken=94e9585d-74c2-4162-afc1-af0c85d58e77
